<!DOCTYPE html>
<html lang = "en">
<head>
    <title>FreeGamesHub</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <form action = "{% url 'logout' %}" method = "post" style = "display:inline;">
            {% csrf_token %}
            <button type = "submit">Logout</button>
        </form>

    {% else %}
        <a href = "{% url 'login' %}">Login</a>
        <a href = "{% url 'register' %}">Register</a>
    {% endif %}

    <h1>Game list</h1>
    <ul>
        {% for game in games %}
            <li><a href = "{{ game.slug }}/">{{ game.title }}</a></li>
        {% empty %}
            <li>There aren't games available</li>
        {% endfor %}
    </ul>
</body>
</html>
